{% extends 'admin/common/base.html.twig' %}

{% block title %}Recherche multi-critères{% endblock %}

{% block user %}
    <h1>Recherche des joueurs membres</h1>
    {# Recherche mot-clé #}
    <div>
        <form method="get" action="{{ path('admin_user_search') }}">
            <h3>Recherche par prénom ou email</h3>
            <div class="d-flex justify-content-center">
                <input type="text" name="word" placeholder="Entrez un prénom ou un email" class="col-4">
                <button type="submit">Rechercher</button>
            </div>
        </form>
    </div>
    {# Recherche par filtres #}
    <div class="d-flex flex-column align-items-center aliceblueBackground p-4">
        <h2>Filtrer par lieu, jour, heure, niveau :</h2>
        {{ form(formFilterUser) }}
    </div>
    <main class="d-flex flex-wrap justify-content-around align-items-center m-3">
        {# j'ajoute le filtre sort pour avoir la liste des résultats par ordre alphabétique#}
        {% for user in users|sort((a, b) => a.firstName <=> b.firstName) %}
            <div class="d-flex col-3 flex-column justify-content-center align-items-center p-3 m-3 blueBorder">
                <a href="{{ path ('admin_show_user', {'id' : user.id }) }}">
                    <h2>{{ user.firstName }}</h2>
                </a>
                <p>{{ user.email }}</p>
                <a href="{{ path('admin_update_user', {'id' : user.id}) }}" class="size16">Modifier</a>
                <a href="{{ path('admin_delete_user', {'id' : user.id}) }}" class="size16">Supprimer</a>
            </div>
        {% else %}
            <h3 class="p-4">Pas de joueur, lance une recherche...</h3>
        {% endfor %}
    </main>
{% endblock %}