{% extends 'admin/common/base.html.twig' %}

{% block title %}Création de joueur{% endblock %}

{% form_theme formUser 'bootstrap_4_layout.html.twig' %}

{% block user %}
    <h1>Formulaire d'inscription :</h1>
    <div class="d-flex justify-content-center">
    {# pour afficher le formulaire j'utilise form_start() et form_end() en passant la variable qui contient le formulaire #}
    {{ form_start(formUser) }}
        {{ form_row(formUser.firstName, {'label': 'Prénom*'}) }}
        {{ form_row(formUser.phoneUser, {'label': 'Téléphone'}) }}
        {{ form_row(formUser.cityUser, {'label': 'Ville'}) }}
        {{ form_row(formUser.commentUser, {'label': 'Commentaire'}) }}
        {{ form_row(formUser.enable, {'label': 'Compte actif'}) }}
        {{ form_row(formUser.email, {'label': 'Email*'}) }}
    {{ form_end(formUser) }}
    </div>
{% endblock %}