{% extends 'admin/common/base.html.twig' %}

{% block user %}
    <h1>Liste des joueurs membres de la communauté</h1>
    <div>
        <form method="get" action="{{ path('admin_user_search') }}">
            <p>Recherche par prénom ou email</p>
            <input type="text" name="word" placeholder="Entrez un prénom ou un email">
            <button type="submit">Rechercher</button>
        </form>
    </div>
    <p>Résultat(s) de la recherche sur le prénom ou l'email : {{ word }}</p>

    <main>
        <div>
            <a href="{{ path('admin_insert_user') }}">Ajouter un utilisateur</a>
        </div>
        {% for user in users|sort((a, b) => a.firstName <=> b.firstName) %}
            <div>
                <h2>{{ user.firstName }}</h2>
                <p>Email : {{ user.email }}</p>
                <p>Compte actif (1=oui ; 0=non) : {{ user.enable }}</p>
                <div>
                    <a href="{{ path('admin_show_user', {'id' : user.id}) }}">Voir la fiche utilisateur</a>
                </div>
                <div>
                    <a href="{{ path('admin_update_user', {'id' : user.id}) }}">Modifier cet utilisateur</a>
                </div>
                <div>
                    <a href="{{ path('admin_delete_user', {'id' : user.id}) }}">Supprimer cet utilisateur</a>
                </div>
            </div>
        {% endfor %}
    </main>

{% endblock %}