{% extends 'front/common/base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="p3">
    <form method="post" class="xLarge-12 large-12 medium-12 small-12 xSmall-12">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {% if app.user %}
            <div class="pb3 colorB titres30">
                Bonjour {{ app.user.firstName }}<a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}
        <h1 class="pb3 colorLB titres30 center">Entrez vos identifiants de connexion</h1>
        <div class="xLarge-12 large-12 medium-12 small-12 xSmall-12 center">
            <label for="inputEmail" class="xLarge-1 large-1 medium-1 small-1 xSmall-1 titres20 p1">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="xLarge-3 large-3 medium-3 small-3 xSmall-3" required autofocus>
            <label for="inputPassword" class="xLarge-1 large-1 medium-1 small-1 xSmall-1 titres20 p1">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="xLarge-3 large-3 medium-3 small-3 xSmall-3" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
        <div class="pt3 center">
            <button type="submit">
                Se connecter
            </button>
        </div>
    </form>
</section>
{% endblock %}
