{% extends 'admin/common/base.html.twig' %}

{% block title %}Back office{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page d'administration</h1>
    <h2>
        <a href="{{ path('admin_insert_user') }}">Ajouter un utilisateur</a>
    </h2>
    <h3>Les 3 derniers utilisateurs inscrits :</h3>
    <main>
        {% for user in users %}
            <div>
                <h2>
                    <a href="{{ path ('admin_show_user', {'id' : user.id }) }}">{{ user.firstName }}</a>
                </h2>
                <p>Email : {{ user.email }}</p>
                <p>Compte actif (1=oui ; 0=non) : {{ user.enable }}</p>
            </div>
        {% endfor %}
    </main>
    <h2>
        <a href="{{ path('admin_insert_structure') }}">Ajouter une structure</a>
    </h2>
    <h3>Les 3 dernières structures ajoutées :</h3>
    <main>
        {% for structure in structures %}
            <div>
                <h2>
                    <a href="{{ path ('admin_show_structure', {'id' : structure.id }) }}">{{ structure.nameStructure }}</a>
                </h2>
                <p>{{ structure.cityStructure }}</p>
            </div>
        {% endfor %}
    </main>
{% endblock %}