{% extends 'admin/common/base.html.twig' %}

{% block title %}Back office{% endblock %}

{% block body %}
    <h1>Bienvenue sur la page d'administration</h1>
    <a href="{{ path('admin_insert_user') }}">
        <h2>Ajouter un utilisateur</h2>
    </a>
    <h3>Les 3 derniers utilisateurs inscrits :</h3>
    <main class="d-flex justify-content-around align-items-center m-3">
        {% for user in users %}
            <div class="col-3 blueBorder p-2">
                <a href="{{ path ('admin_show_user', {'id' : user.id }) }}">
                    <h2>{{ user.firstName }}</h2>
                </a>
                <p>{{ user.email }}</p>
            </div>
        {% endfor %}
    </main>
    <a href="{{ path('admin_insert_structure') }}">
        <h2>Ajouter une structure</h2>
    </a>
    <h3>Les 3 dernières structures ajoutées :</h3>
    <main class="d-flex justify-content-around align-items-center m-3">
        {% for structure in structures %}
            <div class="col-3 blueBorder p-2">
                <a href="{{ path ('admin_show_structure', {'id' : structure.id }) }}">
                    <h2>{{ structure.nameStructure }}</h2>
                </a>
                <p>{{ structure.cityStructure }}</p>
            </div>
        {% endfor %}
    </main>
{% endblock %}