{% extends 'admin/common/base.html.twig' %}

{% block title %}Recherche mot clé{% endblock %}

{% block structure %}
    <h1>Liste des structures de Padel en Gironde</h1>
    {# formulaire de recherche par mot-clé#}
    <div>
        <form method="get" action="{{ path('admin_structure_search') }}">
            <p>Recherche par nom ou ville</p>
            <input type="text" name="word" placeholder="Entrez un nom ou une ville">
            <button type="submit">Rechercher</button>
        </form>
    </div>
    <h2>Résultat(s) de la recherche sur le nom ou la ville : {{ word }}</h2>
    <main>
        <div>
            <a href="{{ path('admin_insert_structure') }}">Ajouter une structure</a>
        </div>
            {% for structure in structures %}
                <div>
                    <h3>{{ structure.nameStructure }}</h3>
                    <p>Ville : {{ structure.cityStructure }}</p>
                    <div>
                        <a href="{{ path('admin_show_structure', {'id' : structure.id}) }}">Voir la fiche de la structure</a>
                    </div>
                    <div>
                        <a href="{{ path('admin_update_structure', {'id' : structure.id}) }}">Modifier cette structure</a>
                    </div>
                    <div>
                        <a href="{{ path('admin_delete_structure', {'id' : structure.id}) }}">Supprimer cette structure</a>
                    </div>
                </div>
            {% else %}
                <p>Il n'y a pas de résultat pour cette recherche</p>
            {% endfor %}
    </main>
{% endblock %}