{% extends 'admin/common/base.html.twig' %}

{% block title %}Les structures{% endblock %}

{% block structure %}
    <h1>Liste des structures de Padel en Gironde</h1>
    {# formulaire de recherche par mot-clé#}
    <div>
        <form method="get" action="{{ path('admin_structure_search') }}">
            <p>Recherche par nom ou ville</p>
            <input type="text" name="word" placeholder="Entrez un nom ou une ville">
            <button type="submit">Rechercher</button>
        </form>
    </div>
    <main>
        <h2>
            <a href="{{ path('admin_insert_structure') }}">Ajouter une structure</a>
        </h2>
        {# j'ajoute le filtre sort pour avoir la liste des résultats par ordre alphabétique #}
        {% for structure in structures|sort((a, b) => a.nameStructure <=> b.nameStructure) %}
            <div>
                <h2>
                    <a href="{{ path ('admin_show_structure', {'id' : structure.id }) }}">{{ structure.nameStructure }}</a>
                </h2>
                <p>Ville : {{ structure.cityStructure }}</p>
            <div>
                <a href="{{ path('admin_update_structure', {'id' : structure.id}) }}">Modifier cette structure</a>
            </div>
            <div>
                <a href="{{ path('admin_delete_structure', {'id' : structure.id}) }}">Supprimer cette structure</a>
            </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}