{% extends 'admin/common/base.html.twig' %}

{% block structure %}
    <h1>Fiche structure</h1>

    <main>
        <div>
            <h2>{{ structure.nameStructure }}</h2>
            <p>Ville : {{ structure.cityStructure }}</p>
            <p>Téléphone : {{ structure.phoneStructure }}</p>
            <p>Site web : {{ structure.linkStructure }}</p>
            <p>Informations : {{ structure.commentStructure }}</p>
        </div>
    </main>

{% endblock %}