<!--je crée une base commune à toutes mes pages html twig que je vais pouvoir étendre dans tous tous les fihciers twig -->
<!doctype html>
<html lang=fr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('img/faviconpadel.png') }}" />
    <link rel="stylesheet" href="{{ asset('dist/css/style.css') }}">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="{{ asset('src/js/app.js') }}"></script>
</head>

<body>

<header class="headerHome">
    <!-- logo et connexion inscription-->
    <nav>
        <div class="xLarge-3 large-3 medium-3 small-3 xSmall-3">
            /*logo*/
        </div>
        <ul class="xLarge-6 large-6 medium-6 small-6 xSmall-6">
            <li>
                <a href="{{ path('home') }}">Accueil</a>
            </li>
            <!--j'ajoute une condition pour faire apparaitre le lien vers le back office (uniquement en admin) -->
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('admin_dashboard') }}">Accueil back office</a>
                </li>
            {% endif %}
            <!--j'ajoute une condition pour faire apparaitre Connexion et Inscription si l'utilisateur n'est pas connecté-->
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li>
                    <a href="{{ path('front_insert_user') }}">Inscription</a>
                </li>
            {% endif %}
            <!--j'ajoute une condition pour faire apparaitre Modification et Déconnexion si l'utilisateur est connecté-->
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <!--pour modifier le compte de l'utilisateur connecté, je récupère son id par app.user.id -->
                <li>
                    <a href="{{ path('front_update_user', {'id' : app.user.id}) }}">Mon compte</a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            {% endif %}
        </ul>
        <!-- menu principal -->
        <ul class="xLarge-6 large-6 medium-6 small-6 xSmall-6 menuHome">
            <li>
                <a href="{{ path('front_users_list') }}">JOUEURS</a>
            </li>
            <li>
                <a href="{{ path('front_structures_list') }}">TERRAINS</a>
            </li>
            <li>
                <a href="{{ path('front_rules') }}">REGLES DE JEU</a>
            </li>
        </ul>
    </nav>
</header>

{# je fais apparaitre les messages flash s'il y en a #}
{% for message in app.flashes('success') %}
    <div class="flashes">
        {{ message }}
    </div>
{% endfor %}

<!--je crée des blocks que je vais pouvoir inclure dans les fichiers twig pour isoler et pouvoir travailler sur des parties-->
{% block body %}
{% endblock %}

{% block user %}
{% endblock %}

{% block structure %}
{% endblock %}

<footer>
    <!-- menu footer -->
    <nav>
        <ul>
            <li>
                <a href="{{ path('home') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('front_users_list') }}">Liste des joueurs</a>
            </li>
            <li>
                <a href="{{ path('front_structures_list') }}">Liste des structures</a>
            </li>
            <li>
                <a href="{{ path('front_rules') }}">Règles de jeu</a>
            </li>
        </ul>
    </nav>
</footer>

</body>
</html>
