{% extends 'front/common/base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block user %}
    <h1>Formulaire d'inscription :</h1>
    {# pour afficher le formulaire j'utilise form_start() et form_end() en passant la variable qui contient le formulaire #}
    {{ form_start(formUser) }}
        {{ form_row(formUser.firstName, {'label': 'Prénom*'}) }}
        {{ form_row(formUser.email, {'label': 'Email*'}) }}
        {{ form_row(formUser.password) }}
        {{ form_row(formUser.phoneUser, {'label': 'Téléphone'}) }}
        {{ form_row(formUser.cityUser, {'label': 'Ville'}) }}
        {{ form_row(formUser.photo) }}
        {{ form_row(formUser.commentUser, {'label': 'Commentaire'}) }}
        {{ form_row(formUser.level) }}
        {{ form_row(formUser.day) }}
        {{ form_row(formUser.hour) }}
        {{ form_row(formUser.structure) }}
        {{ form_row(formUser.submit) }}

    {{ form_end(formUser, {'render_rest': false}) }}

{% endblock %}