{% extends 'front/common/base.html.twig' %}

{% block title %}Recherche mot clé{% endblock %}

{% block user %}
    <h1>Liste des joueurs membres de la communauté</h1>
    <div>
        <form method="get" action="{{ path('front_user_search') }}">
            <h2>Recherche par prénom ou email</h2>
            <input type="text" name="word" placeholder="Entrez un prénom ou un email">
            <button type="submit">Rechercher</button>
        </form>
    </div>
    <p>Résultat(s) de la recherche sur le prénom ou l'email : {{ word }}</p>

    <main>
        {% for user in users|sort((a, b) => a.firstName <=> b.firstName) %}
            <div>
                <h3>{{ user.firstName }}</h3>
                <p>Email : {{ user.email }}</p>
                <p>Téléphone : {{ user.phoneUser }}</p>
                {% if user.photo %}
                    <div>
                        <img class="img-fluid" src="{{ asset('img/upload/' ~ user.photo) }}" alt="photo de profil">
                    </div>
                {% endif %}
                <p>Ville : {{ user.cityUser }}</p>
                <p>Commentaire : {{ user.commentUser }}</p>
                {#je rajoute le niveau du joueur situé dans l'entité Level en faisant une boucle
                dans le champs level de la table User, pour chaque champs level, j'affiche le niveau "levelUser" de la table level#}
                {% for level in user.level %}
                    <p>Niveau : {{ level.levelUser }}</p>
                {% endfor %}
                {% for day in user.day %}
                    <p>Jour : {{ day.dayUser }}</p>
                {% endfor %}
                {% for hour in user.hour %}
                    <p>Heure : {{ hour.hourUser }}</p>
                {% endfor %}
                {% for structure in user.structure %}
                    <p>Structure : {{ structure.nameStructure }}</p>
                {% endfor %}
            </div>
        {% else %}
            <p>Il n'y a pas de résultat pour cette recherche</p>
        {% endfor %}
    </main>

{% endblock %}