{% extends 'front/common/base.html.twig' %}

{% block title %}Les joueurs{% endblock %}

{% block user %}
    <main>
        <h1>Liste des joueurs membres de la communauté</h1>
        <div>
            <h3>Filtrer les joueurs par prénom, email, lieu, jour, heure, niveau</h3>
            {% if is_granted('IS_AUTHENTICATED_FULLY') and '{{ user.enable }}' == true %}
                <a href="{{ path('front_user_filter') }}">Recherche multi critères</a>
            {% else %}
                <p>Identifiez-vous pour accéder à la recherche multi-critères.</p>
            {% endif %}
        </div>

        {# j'ajoute le filtre sort pour avoir la liste des résultats par ordre alphabétique #}
        {% for user in users|sort((a, b) => a.firstName <=> b.firstName) %}
            <div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') and '{{ user.enable }}' == true %}
                    <h2>
                        <a class="firstName" href="{{ path ('front_show_user', {'id' : user.id }) }}">{{ user.firstName }}</a>
                    </h2>
                {% else %}
                    <h2>{{ user.firstName }}</h2>
                    <p>(Accés à la fiche utilisateur réservé aux membres)</p>
                {% endif %}
                {% if user.photo %}
                    <div>
                        <img class="img-fluid" src="{{ asset('img/upload/' ~ user.photo) }}" alt="photo de profil">
                    </div>
                {% endif %}
                <p>Ville : {{ user.cityUser }}</p>
                {% for level in user.level %}
                    <p>Niveau : {{ level.levelUser }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </main>

{% endblock %}